.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
}

nav a {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
}

.hero {
  padding: 2rem;
  background: #fda085;
}

.hero h1 {
  font-size: 3rem;
}

.features, .testimonials {
  padding: 2rem;
}

footer {
  background: #282c34;
  color: white;
  padding: 1rem 2rem;
}

.footer-links a, .social-media a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}

.contact-info {
  margin-top: 1rem;
}

body {
  font-family: 'Arial, sans-serif';
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: 'Arial, sans-serif';
}

input {
  font-family: 'Arial, sans-serif';
}

.paper {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
}

.hero-background {
  background-image: url('background.png'); /* Replace with actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures it takes up the full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add padding as needed */
  color: white; /* Ensure text is readable */
  text-align: center;
}

.how-it-works, .features, .testimonials{
  padding: 50px 20px;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  text-align: center;
  color: #fff;
}

.how-it-works h1 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 40px;
  color: #fff;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  color: #fff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h2 {
  font-size: 20px;
  margin-top: 10px;
}

.icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 400px;
  }
}



